<article class="pa3 pa5-ns">
  <h1 class="f3 f1-m f-headline-l">Hello World!</h1>
  <p class="measure lh-copy">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
    vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
    no sea takimata <span class="my-red">sanctus</span> est Lorem ipsum dolor sit amet.
  </p>
  <p class="measure lh-copy">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
    vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
    no sea takimata sanctus est Lorem ipsum dolor sit amet.
  </p>

  <div class="flex items-center">

    <button class="f5 no-underline black bg-white bg-animate hover-bg-black hover-white pa3 ba w4 tc b b--black bw2 pointer"
      (click)="decrement()">
      Decrement
    </button>

    <span class="f4 b black items-center pa3 w4 tc">
      {{ count }}
    </span>

    <button class="f5 no-underline black bg-white bg-animate hover-bg-black hover-white pa3 ba w4 tc b b--black bw2 pointer"
      (click)="increment()">
      Increment
    </button>

  </div>

  <p class="pa3">
    <md-progress-bar [value]="25"></md-progress-bar>
  </p>

  <p>
    <button md-button (click)="openDialog()">Launch dialog</button>
    You chose: {{selectedOption}}
  </p>

  <p>
    <button md-button
      (click)="openSnackBar()"
      aria-label="Show an example snack-bar">
      Pizza party
    </button>
  </p>

  <div class="example-container">
    <h3>Normal Buttons</h3>
    <div class="button-row">
      <button md-button>Flat button</button>
      <button md-raised-button>Raised button</button>
      <button md-fab>check</button>
      <button md-mini-fab>check</button>
    </div>

    <h3>Link Buttons</h3>
    <div class="example-button-row">
      <a md-button routerLink=".">Flat button</a>
      <a md-raised-button routerLink=".">Raised button</a>
      <a md-fab routerLink=".">check</a>
      <a md-mini-fab routerLink=".">check</a>
    </div>
  </div>
</article>

<form class="example-form pa3 pa5-ns mb5">
  <md-input-container class="example-full-width">
    <input md-input placeholder="Company (disabled)" disabled value="Google">
  </md-input-container>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><md-input-container class="example-full-width">
      <input md-input placeholder="First name">
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input md-input placeholder="Long Last Name That Will Be Truncated">
    </md-input-container></td>
  </tr></table>

  <p>
    <md-input-container class="example-full-width">
      <textarea md-input placeholder="Address">1600 Amphitheatre Pkwy</textarea>
    </md-input-container>
    <md-input-container class="example-full-width">
      <textarea md-input placeholder="Address 2"></textarea>
    </md-input-container>
  </p>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><md-input-container class="example-full-width">
      <input md-input placeholder="City">
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input md-input placeholder="State">
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input md-input #postalCode maxlength="5" placeholder="Postal Code" value="94043">
      <md-hint align="end">{{postalCode?.value?.length}} / 5</md-hint>
    </md-input-container></td>
  </tr></table>
</form>

<md-button-toggle-group class="pa3 pa5-ns mb3"
  #group="mdButtonToggleGroup">
  <md-button-toggle value="left">
    format_align_left
  </md-button-toggle>
  <md-button-toggle value="center">
    format_align_center
  </md-button-toggle>
  <md-button-toggle value="right">
    format_align_right
  </md-button-toggle>
  <md-button-toggle value="justify" disabled>
    format_align_justify
  </md-button-toggle>
</md-button-toggle-group>

<div class="example-selected-value mb5">Selected value: {{group.value}}</div>


<div class="pa3 pa5-ns mb5">
  <h2 class="example-h2">Result</h2>

  <section class="example-section">
    <md-checkbox
        class="example-margin"
        [checked]="checked"
        [indeterminate]="indeterminate"
        [align]="align"
        [disabled]="disabled">
      I'm a checkbox
    </md-checkbox>
  </section>
</div>

<md-sidenav-container class="example-sidenav-fab-container">
  <md-sidenav #sidenav mode="side" opened="true">
    <button md-mini-fab class="example-fab" (click)="sidenav.toggle()">
      add
    </button>
    <div class="example-scrolling-content">
      Lorem ipsum dolor sit amet, pede a libero aenean phasellus, lectus metus sint ut risus,
      fusce vel in pellentesque. Nisl rutrum etiam morbi consectetuer tempor magna, aenean nullam
      nunc id, neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna
      aliquam magna. Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor
      vel urna occaecat cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at,
      ligula ipsum dui sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu
      enim fringilla. Arcu erat nulla in aenean lacinia ullamcorper, urna ante nam et sagittis,
      tristique vehicula nibh ipsum vivamus, proin proin. Porta commodo nibh quis libero amet.
      Taciti dui, sapien consectetuer.
    </div>
  </md-sidenav>
  <button md-mini-fab class="example-fab" (click)="sidenav.toggle()">
    add
  </button>
  <div class="example-scrolling-content">
    Lorem ipsum dolor sit amet, pede a libero aenean phasellus, lectus metus sint ut risus, fusce
    vel in pellentesque. Nisl rutrum etiam morbi consectetuer tempor magna, aenean nullam nunc id,
    neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
    Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
    cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
    sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
    erat nulla in aenean lacinia ullamcorper, urna ante nam et sagittis, tristique vehicula nibh
    ipsum vivamus, proin proin. Porta commodo nibh quis libero amet. Taciti dui, sapien
    consectetuer.
  </div>
</md-sidenav-container>
